@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titan+One&display=swap');

body {
    margin: 0px;
    background-color: rgb(245, 245, 220);
    font-family: 'Roboto';
    --dark_main_color: rgb(2, 83, 115);
    --light_main_color: rgb(53, 150, 189);
    --semi_black_color: rgb(230, 99, 0);
    --darkest_color: rgb(167, 74, 0);
    --light_color: rgb(245, 245, 220);

}

@font-face {
    font-family: "Harry_Potter";
    src: url(../fonts/harry_p/HARRYP__.TTF);
}
@font-face {
    font-family: "Alice";
    src: url(../fonts/alice_in_wonderland/Alice_in_Wonderland_3.ttf);
}

/* body:has(.logout_div:hover){
    --dark_main_color: rgb(50, 50, 50);
    --light_main_color: rgb(100, 100, 100);
} */